<nav class="navbar-nav-scroll ">
    <ul class="nav  justify-content-center navbar-nav bd-navbar-nav flex-row">
    	<li class="nav-item border-0">
        <a   routerLink="/home" routerLinkActive="active">
        	<img src="assets/logos/searchmovie.png">
        </a>
      </li>
      <li class="nav-item my-1 my-sm-2">
        <a   routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">home</a>
      </li>
      <li class="nav-item my-1 my-sm-2">
        <a   routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About</a>
      </li>
    </ul>
  </nav>

